.boxCard {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-sizing: border-box;
  }
  
  .boxCard img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .titleCard {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #3FABE8;
  }
  
  .descCard {
    text-align: left;
    font-size: 16px;
    color: #888;
    margin-top: 10px;
  }
  