/* Assuming you have defined styles for .boxInfo, .squareInfoLeft, .squareInfoRight, .descInfo, .title, and .desc */

/* Style for the container box */
.boxInfo {
    display:block;
    justify-content: column;
    width: 100%;
  }
  
  /* Style for the left-aligned square box */
  .squareInfoLeft,
  .squareInfoRight {
    /* width: calc(50% - 10px); Adjust the width to create space between the boxes */
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 50px;
  }
  
  /* Style for the right-aligned square box */
  .squareInfoRight {
    flex-direction: row-reverse;
    text-align: right;
  }

  .squareInfoLeft {
    text-align: left;
  }
  
  /* Style for the image */
  .squareInfoLeft img,
  .squareInfoRight img {
    width: 300px; 
    margin: 0 40px;
  }
  
  .descInfo {
      width: 50%;
      flex: 1;
  }
  
  .titleInfo {
    font-size: 35px;
    color: #3FABE8;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .desc {
    font-size: 24px;
  }
  