body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, rgba(63, 171, 232, 1) , #ffffff 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
  }
  
  .logo {
    float: left;
    margin-right: 180px;
    will-change: filter;
    transition: filter 300ms, margin-bottom 300ms;
  }

  .logo:hover {
    filter: drop-shadow(0 12px 12px rgba(0, 0, 0, 0.5));
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .card {
    background-color: #3FABE8;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 290px;
    height: 434.31px;
    flex-direction: column;
    justify-content: center;
  }

  .judul {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Input container styling */
  .input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  /* Label styling */
  .input-container label {
    margin-left: 4px;
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 17px;
  }
  
  /* Input styling */
  .input-container input {
    padding: 8px;
    padding-left: 15px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 50dvh;
  }

  .input-container input:focus {
    outline: none;
  }
  
  /* Forgot password styling */
  .forgot-password {
    text-align: right;
    margin-bottom: 15px;
  }

  /* Forgot password link styling */
  .forgot-password a {
    color:#ffffff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot-password a:hover {
    color: black;
  }
  
  /* Login button styling */
  .button {
    background-color: #1f618d;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 50dvh;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }

  .button:hover {
    background-color: #1a5276;
  }

  .button:focus {
    outline: none;
  }

  /* Or styling */
  .or-container {
    color: #ffffff;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .or-container .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ffffff;
  }
  
  .or {
    margin: 0 10px;
    font-size: 14px;
  }
  
  /* Login with Google button styling */
  .with-google-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0, 0.9);
    padding: 10px 20px;
    border: 1px solid rgb(0, 0, 0, 0.4);
    border-radius: 50dvh;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
  }

  .with-google-button:focus {
    outline: none;
  }

  .with-google-button:hover {
    background-color: #f1f1f1;
    border: 1px solid rgb(0, 0, 0, 0.4);
  }

  .with-google-button img {
    width:8%;
    justify-content: center;
    float: left;
  }

  .question {
    text-align: center;
    color:#f1f1f1;
    font-size: 14px;
  }

  .question a {
    color:#1f618d;
  }

  .question a:hover {
    color: black;
  }
  
  /* Responsiveness (Optional) */
  @media (max-width: 1080px) {
    .logo {
      display: none;
    }
  }
