@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-inter
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #3FABE8, #72C1F5);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
::-webkit-scrollbar-thumb:hover {
    background: #1791D6; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .logo a img {
    will-change: filter;
    transition: filter 300ms, margin-bottom 300ms;
  }

  .logo a img:hover {
    filter: drop-shadow(0 12px 12px rgba(0, 0, 0, 0.4));
    margin-bottom: 20px;
  }

  @media (max-width: 1080px) {
    .logo {
      /* display: none; */
    }
  }

  @media (max-width: 480px) {
    .logo {
      width: 50px
    }
  }

  .squareMenu {
    width: 25%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: #000000;
  }

  .squareMenu a {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
    transition: box-shadow 200ms;
    border-radius: 5%;
  }

  .squareMenu a:hover {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  .squareMenu a:hover img {
    margin-bottom: 20px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
    transition: margin-bottom 300ms, filter 300ms;
  }

  .gambar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gambar img {
    min-width: 50px;
    width: 70%;
    height: 70%;
  }

  @media (max-width: 640px) {
    .squareMenu a {
      width: 50px;
      height: 50px;
      padding: %6;
    }

    .squareMenu {
      padding: 10px;
    }
  }
  
  @media (min-width: 641px) and (max-width: 1024px) {
    .squareMenu a {
      width: 100px;
      height: 100px;
      padding: 8%;
    }

    .squareMenu {
      padding: 20px;
    }
  }